<div class="p-4 bg-gray-100 shadow">
    <ul class="flex gap-6">
        <li>
            <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-red-500 underline">Listing</a>
        </li>
        <li>
            <a routerLink="/create" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-red-500 underline">Create</a>
        </li>
        <li>
            <a routerLink="/about" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="text-red-500 underline">About</a>
        </li>
    </ul>
</div>
